.thumbnail {
    height:250px;
    width:98%;
}

body{
  margin: 0;
  background-color: red;
}

.thumbnail {
  margin-left: 5px;
  margin-right: 5px;
}

.custom-border {
  border-style: solid;
  border-width: 1px;
}

.row {
  
}

.centered {
   margin: auto;
   max-width: 90%;
 }

 .index-dropdown {

   margin-bottom: 40px;
 }
