

  <a href="<%= product_path(product) %>">
       <img src="<%=product.image %>" alt="image" class="thumbnail img-responsive">
  </a>
  <div class="col-md-12">
    <h3><%=product.name %></h3>
    <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency product.price %></span></h4>

  </div>
