<%= render 'menu' %>

<div class="centered"
	<div class="row">

		<% if $about_text != nil %>
			<p><%= $about_text.inspect.gsub( /\A"/m, "" ).gsub( /"\Z/m, "" ) %></p>
		<% else %>
		  <p>This is some sample text for the about page</p>
		<% end %>

	</div>
</div>
